<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span routerLink="/home" class="home-link">首頁</span>
    <span class="example-spacer"></span>
    <button mat-flat-button routerLink="users">用戶一覽</button>
    <button mat-flat-button style="margin-left: 20px;" routerLink="create-blog-entry">創建日誌</button>
    <!--button mat-flat-button style="margin-left: 20px;"  routerLink="admin">管理者</!--button-->
    <mat-form-field style="margin-left: 20px;" name="loginRegisterDropdown">
      <mat-select placeholder="功能表">
        <mat-option (click)="navigateTo('login')">登入</mat-option>
        <mat-option (click)="navigateTo('register')">註冊</mat-option>
        <mat-option (click)="navigateTo('update-profile')">更新檔案</mat-option>
        <mat-option (click)="logout()">登出</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>